%h2= @commit.message

%p Click to view documentation

%h3 Files

%table.table.table-striped.table-hover
  %thead
    %th File
    %th Link to Docs
    %th Shield
  %tbody
    - @commit.files.each do |f|
      %tr
        %td= f["filename"]
        %td
          - if raml2html(f["filename"])
            = link_to "View Docs", commit_raw_file_path(@commit, {filename: f["filename"]}), target: "_blank"
        %td
          - if raml2html(f["filename"])
            = image_tag "https://img.shields.io/badge/Valid%20RAML%3F-true-brightgreen.svg"
          - else
            = image_tag "https://img.shields.io/badge/Valid%20RAML%3F-false-red.svg"